.item-title {
    font-weight: bold;
    grid-area: title;
}
.item-subtitle {
    grid-area: subtitle;
    font-size: 14px;
}
.item-btn-group {
    display: flex;
    flex-direction: row;
    grid-area: btn;
    align-self: center;
}
.item-btn {
    border-radius: 24px;
    margin: 0px 2px;
}
.row-item {
    display: grid;
    margin-bottom: 10px;
    column-gap: 4px;
    grid-template-areas:
        "title title btn"
        "subtitle subtitle btn";
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}
.row-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .row-item {
        grid-template-areas:
            "title title"
            "subtitle subtitle"
            "btn btn";
    }
}
main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.container1 {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    column-gap: 24px;
    margin: 0px;
    padding: 0px;
}
.col1 {
    display: flex;
    flex-direction: column;
}
.box {
    margin-bottom: 24px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 8px;
}
.capitalize {
    text-transform: capitalize;
}
.sortable-item {
    cursor: move;
    padding: 4px;
}
.sortable-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}