.title {
    font-weight: bold;
    font-size: 18px;
}
.subtitle {
    font-size: 14px;
}
.title2 {
    font-weight: bold;
    font-size: 16px;
}
.subtitle2 {
    font-size: 12px;
}
.paths {
    padding-left: 16px;
}

.btn {
    border-radius: 6px;
}

.block-item {
    padding: 0 4px;
}
.block-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.box {
    margin-bottom: 24px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
}
.capitalize {
    text-transform: capitalize;
}
.sortable-item {
    cursor: move;
    padding: 4px;
}
.sortable-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}
.hint-text {
    font-size: 14px;
    color: #888;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 0 -24px -16px -24px;
    background-color: #e4e4e4;
}
.footer-icon {
    margin-left: 8px;
}